body {
    font-family: sans-serif;
    background: #f5f5f5;
}

main {
    display: flex;
}

aside {
    width: 500px;
    flex-shrink: 0;
}

.Avatar {
    width: 80px;
}

.Avatar--author {
    border: solid 3px greenyellow;
}

.Comment {
    background: white;
    padding: 1em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}